name: Lunch Notification

on:
  schedule:
    # -------------------------------------------------------
    # ⚠️ 1시간 지연을 대비하여 '오전 9시 30분'으로 설정
    # 목표 도착 시간: 10시 30분 ~ 11시 00분
    # 한국 09:30 = UTC 00:30
    # -------------------------------------------------------
    - cron: '30 0 * * 1-5'

  # 수동 실행 버튼 유지
  workflow_dispatch:

jobs:
  send-lunch-menu:
    runs-on: ubuntu-latest
    steps:
      - name: 코드 가져오기
        uses: actions/checkout@v3

      - name: 파이썬 설치
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: 라이브러리 설치
        run: |
          pip install requests

      - name: 봇 실행
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        run: python main.py
